<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>

<body>
<h3 th:text ="${titulo}"></h3>
<br>
<a th:href="@{/formulario-banco}">Registrar banco</a>
<br>

<table>
	<thead>
		<tr>
			<th>ID Banco</th>
			<th>Nombre</th>
			<th>Ubicacion</th>
		</tr>
	</thead>
	<tbody>
	
	 <p th:if = "${bancos.isEmpty()}">La lista de bancos esta vacia</p>
		
		<tr th:each="banco: ${bancos}"></tr> 
		<tr th:each="banco: ${bancos}">
			<td th:text ="${banco.getIdBanco()}"></td>
			<td th:text ="${banco.getNombre()}"></td>
			<td th:text ="${banco.getUbicacion()}"></td>
			<td><a th:href="@{/formulario-banco/} + ${banco.getIdBanco()}" th:text="'Editar'"></a></td>
		  	<td><a th:href="@{/eliminarBanco/} + ${banco.getIdBanco()}" th:text="'Eliminar'" 
		  	onclick="return confirm('¿Desea eliminar el Banco?');"></a></td>
		</tr>
	</tbody>
</table>
<a th:href="@{/index}">Inicio</a> <!-- checar despues -->
</body>
</html>