<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet"/>
</head>

<body>
	<h3 th:text="${titulo}"></h3>
	<br>
	<p th:text="${mensaje}"></p>
	<br>
	
	<tbody>
	<p th:if="${result}" th:text="${mensaje}"></p>
	 
	 <div> <!-- agregar atributos de etiqueta forms -->
	 	<form th:action="@{/formulario-banco}" th:object="${banco}" method="post">
	 		<table>
				<tr>
					<td>Nombre</td>
					<td><input type="text" th:field="*{nombre}" required></td>
					<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
				</tr>
				
				<tr>
					<td>Ubicacion</td>
					<td><input type="text" th:field="*{ubicacion}" required></td>
					<div th:if="${#fields.hasErrors('ubicacion')}" th:errors="*{ubicacion}"></div>
				</tr>
				
	 		</table>
	 		
	 			<br><input type="submit" value="Registrar banco"/>
	 	</form>
	  </div>
	</tbody>
	<hr>
	<a th:href="@{/bancoLista}">Regresar</a>
	
</body>
</html>