<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet"/>
</head>
<body>
<h3 >INDEX</h3>
<h3><img width="200" height="100" th:src="@{/images/imgTop.jpg}" src=""></h3>
<br>
<p>Favor de insertar en el siguiente orden: banco, cuenta, tarjeta y de eliminar en el orden inverso</p>
<br>
<a th:href="@{/bancoLista}">Lista de Bancos</a>
<br>
<a th:href="@{/cuentaLista}">Lista de Cuentas</a>
<br>
<a th:href="@{/tarjetaLista}">Lista de Tarjetas</a>
<br>

</body>
</html>