<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
<link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet"/>
</head>
<body>
<h3 th:text ="${titulo}"></h3>
<br>
<a th:href="@{/formulario-tarjeta}">Registrar tarjeta</a>
<br>

<table>
	<thead>
		<tr>
			<th>ID Tarjeta</th>
			<th>Numero de tarjeta</th>
			<th>icv</th>
			<th>Tipo de tarjeta</th>  
			<th>ID Cuenta</th> 
		</tr>
	</thead>
	<tbody>
	
	 <p th:if = "${tarjetas.isEmpty()}">La lista de tarjetas esta vacia</p>
		
		<tr th:each="tarjeta: ${tarjetas}"></tr> 
		<tr th:each="tarjeta: ${tarjetas}">
			<td th:text ="${tarjeta.getIdTarjeta()}"></td>
			<td th:text ="${tarjeta.getNumeroTarjeta()}"></td>
			<td th:text ="${tarjeta.getIcv()}"></td>
		    <td th:text ="${tarjeta.getTipoTarjeta()}"></td> 
		    <td th:text ="${tarjeta.getCuenta().getIdCuenta()}"></td>
		  	<td><a th:href="@{/formulario-tarjeta/} + ${tarjeta.getIdTarjeta()}" th:text="'Editar'"></a></td>
		  	<td><a th:href="@{/eliminarTarjeta/} + ${tarjeta.getIdTarjeta()}" th:text="'Eliminar'" 
		  	onclick="return confirm('¿Desea eliminar la tarjeta?');"></a></td>
		</tr>
	</tbody>
</table>
<br>
<a th:href="@{/}">Inicio</a>
</body>
</html>